body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: hotpink;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: hotpink;
}

li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.section {
    margin-left: 10%;
    padding: 10px;
    height: 1000px;
}

#home {
    background-color: black;
}

#events {
    background-color: black;
}

#ideas {
    background-color: black;
}

#contact {
    background-color: black;
}

#team {
    background-color: black;
}

nav a.active {
    background-color: black;
    color: hotpink;
}

.text {
    margin-top: 100px;
}